@import '../../variables.scss';

.create-product {
    .form {
        form {
            > .input {
                padding: 15px;
                background-color: white;
                input {
                    background-color: #eee;
                }
            }
        }
    }
    .ant-select-selector {
        background: #eee !important;
        padding: 20px 15px !important
    }
    .ant-input-number-input-wrap {
        input {
            padding: 10px 15px !important
        }
    }
    .ant-select-multiple  {
        .ant-select-selector {
            padding:7px !important
        }
    }

}
.ant-select-item-option-content {
    span {
        width: 10px;
        height: 10px;
        display: inline-block;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
}   