@import '../variables.scss';



.map {
    background:$color_ededed;
    .iframe {
        width:100%;
        aspect-ratio: 1/0.4;
        iframe {
            width:100%;
            height: 100%;
            border:2px solid #ddd
        }
    }
}

@media (max-width:1200px) {

}

@media (max-width:1000px) {
    .map .iframe {
        aspect-ratio: 1/0.6;
    }
}

@media (max-width:800px) {
    .map .iframe {
        aspect-ratio: 1/0.7;
    }
}

@media (max-width:400px) {

}