

.FeatureProductSection {
    header {
        h2 {
            font-size:22px;
            font-weight: 500;
        }
    }
    .owl-carousel .owl-stage-outer {
        padding: 10px 0  !important;
        overflow: visible;
    }
}
