
@import '../variables.scss';

.special-product-section {
    background-color: $color_f5f5f7;
    header {
        h2 {
            font-size:22px;
            font-weight: 500;
        }
    }
}


@media (max-width : 1200px) {

}

@media (max-width : 1000px) {
    .special-product-section header h2 {
        font-size: 20px;
    }

}
@media (max-width : 800px) {
    .special-product-section header h2 {
        font-size: 18px;
    }
}
@media (max-width : 480px) {

}
