@import '../../variables.scss';


.dashboard-reset-password {
    background-color: $color_FFD233;
    height: 100vh !important;
    padding-top:250px;
    .form {
        width:25%;
        background:white;
        h4 {
            font-size: 25px;
            color:$color_1c1c1b;
        }
        p {
            text-transform: capitalize;
            color:#333;
            font-size: 15px;
        }
        form {
            .input {
                input {
                    padding:10px 15px;
                    border:0;
                    border: 1px solid #ddd;
                    &:focus {
                        outline: none !important;
                        box-shadow: none !important;
                    }
                    &::-webkit-input-placeholder {
                        text-transform: capitalize;
                    }
                    border-radius: 0;
                    -webkit-border-radius: 0;
                    -moz-border-radius: 0;
                    -ms-border-radius: 0;
                    -o-border-radius: 0;
                }
            }
            .input:not(:last-of-type) {
                margin-bottom:20px
            }
            button {
                margin-top:20px;
                width:100%;
                padding:10px 15px;
                background-color:  $color_FFD233;
                color:white;
                border:0;
                font-weight: 500;
            }
        }
    }
}