
@import '../variables.scss';

.privacy-policy {
    background-color: $color_ededed;
    .policy {
        background-color: white;
        border-radius: 15px;;
        padding:20px;
        box-shadow:5px 5px 10px rgba(0,0,0,0.05) , -5px -5px 10px rgba(0,0,0,0.05);
        .item {
            h4 {
                font-size: 19px;
                font-weight: 500;
            }
            p {
                font-size: 15px;
                color:$color_777777
            }
        }
    }
}

@media (max-width:1200px) {

}

@media (max-width:1000px) {
    .privacy-policy .policy .item h4 {
        font-size: 15px;
    }
    .privacy-policy .policy {
        padding:15px
    }
}

@media (max-width:800px) {

}

@media (max-width:400px) {

}