
@import './variables.scss';

.cart-side-par {
    .closeIcon {
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        top:15px;
        left:15px;
        z-index: 5;
        background:rgba(0,0,0,0.3);
        svg {
            font-size: 16px;
        }
    }
    overflow-y: scroll;
    width:100%;
    height: 100%;
    z-index: 6000;
    right:0;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
    background:rgba(0,0,0,0.3);

    .cart-side-par-wrapper {
        transition:0.5s;
        transform:translateX(100%);
        width:25%;
        height: 100%;
        background:white;
        .product-details {
            .product {
                .product-image {
                    width:25%;
                    aspect-ratio: 1/1;
                    img {
                        width:100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
                .product-details {
                    width:60%;
                    .product-name {
                        color:#000;
                        font-size: 15px;
                        font-weight: 500;
                    }
                    .product-price {
                        font-weight: 600;
                    }
                    li:not(:first-of-type) {
                        span {
                            color:$color_777777;
                            font-weight: 400;
                        }
                    }
                    .product-price {
                        font-weight: 600;
                    }
                    .product-colors {
                        span {
                            width:20px;
                            height:20px;
                            border-radius: 50%;
                        }
                    }
                }

                .product-trash {
                    svg {
                        font-size: 20px;
                        color:$color_777777;
                        cursor: pointer;
                    }
                }
            }
        }
        .price-details {
            li {
                background-color: $color_ededed;
                border-top:1px solid #ddd;
                span {
                    font-weight: 600;
                    text-transform: capitalize;
                }
            }
            li:nth-of-type(1) {
                .count {
                    span:nth-of-type(2) {
                        font-weight: 400;
                    }
                }

            }
            .buttons {
                a {
                    padding:8px 35px;
                    border-radius: 25px;
                    color:white;
                    background:$color_131921;
                    font-size: 14px;
                    transition: 0.3s;
                    &:hover {
                        background-color: $color_febd69;
                        color:$color_131921
                    }
                }
            }
        }
    }
    &.active {
        visibility: visible;
        opacity: 1;
        .cart-side-par-wrapper {
            transform:translateX(0%);
        }
    }
}


@media (max-width:1200px) {
    .cart-side-par .cart-side-par-wrapper {
        width:100%
    }
}

@media (max-width:1000px) {
    .cart-side-par .cart-side-par-wrapper {
        width:100%
    }
}

@media (max-width:800px) {

}

@media (max-width:400px) {

}