@import './variables.scss';


header.active {
    > div:nth-of-type(1) {
        display: none !important;
    }
    position: fixed;
    z-index: 500;
    top:0;
    left:0;
    width:100%;
    transition:all 1s linear;
    transform:translateY(-100%);
}


header.animation {
    transform:translateY(0%);
}
.header_top {
    background: $color_131921;
    border-bottom:1px solid $color_3b4149;
    .row {
        > div {
           p {
            font-size : 14px;
            text-transform: capitalize;
            font-weight: 300;
           } 
        }
    }
}

.header_mid {
    background: $color_131921;
    .row {
        align-items: center;
        > div {
           .logo {
            a {
                font-size : 30px;
                text-transform: capitalize;
                font-weight: 500;
            }
           } 
           .input-group {
            input {
                outline:none !important;
                font-size: 17px;
                box-shadow: none !important;
                border:none;
                &::-webkit-input-placeholder {
                    font-size:14px;
                    text-transform: capitalize;
                }
            };

            span {
                background:$color_febd69;
                color:white;
                cursor: pointer;
            }
           }
           .header_mid_links {
                .link {

                    .image {
                        width:35px;
                        height:35px;
                        img {
                            width:100%;
                            height:100%
                        }
                    }
                    p {
                        line-height: 1.1;
                        font-weight: 200;
                        font-size:14px
                    }
                }
                .cart {
                    .mony {
                        .count {
                           border-radius: 5px;
                        }
                    }
                }
           }
        }
       
    }
}

.header_bottom {
    background: $color_232f3e;
    .menu {
        .menu_links {
            a , .main .dropdown button {
                color:white;
                text-transform: capitalize;
                font-weight: 300;
                font-size: 16px;
                
            }
        }
    }
    .main .dropdown  {
        button {
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 200;
            .image {
                width:22px;
                height:22px;
                img {
                    width:100%;
                    height:100%
                }
            }
        }
        
        .dropdown-menu {
            width:100% !important;
            transform :translate(0px, 42px) !important;
            background:$color_131921;
            padding:0;
            li a {
                border-bottom:1px solid $color_3b4149 !important;
                font-size: 15px;
                text-transform: capitalize;
                &:hover {
                    color:black !important
                }
            }
        }
    }
}

@keyframes navbar {
    0% {
        transform:translateY(-100%);
    } 100% {
        transform:translateY(0%);
    }
}



@media (max-width:1000px) {
    header {
        .container-xxl {
            padding :0 
        }
        .row > div  {
            padding:0 5px
        }
    }
    .header_top {
        p{
            font-size: 14px !important;
        }
        .row , .row > div {
            padding:0 !important
        }
   } 
   .header_mid_links {
        .link {
            .image {
                width:25px !important;
                height:25px !important;
                img {
                    width:100%;
                    height:100%
                }
            }
            p {
                line-height: 1.1;
                font-weight: 200;
                font-size:10px !important;
                text-transform:capitalize
            }
        }
   }
}

@media (max-width:800px) {
    .header_top {
        p{
            font-size: 13px !important;
        }
        .row , .row > div {
            padding:0
        }
   } 
   .header_bottom .menu .menu_links a, .header_bottom .menu .menu_links .main .dropdown button {
    color: white;
    text-transform: capitalize;
    font-weight: 300;
    font-size: 10px !important;
    }
    .header_bottom .main .dropdown button {
        font-size: 15px !important;
    }
}

@media (max-width:400px) {
    .header_top {
        p{
            font-size: 12px !important;
        }
        .row , .row > div {
            padding:0
        }
   } 
}