

.store-filter {
    .filter-product {
        box-shadow:5px 5px 10px rgba(0,0,0,0.05) , -5px -5px 10px rgba(0,0,0,0.05);
        border-radius: 15px;
        overflow: hidden;
        h4 {
            font-size: 16px;
            font-weight: 700;
        }   
    }
}